p {
    color: greenyellow;
    background-color: hotpink;
    color: rgb(rgb(224, 89, 89), green, blue);
    color: #2222;
}



body {
    background-color: powderblue;
}

h1 {
    color: blue;
}


p {
    color: red;
}